# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback
    # The primary network interface
    address {{ switches[ansible_hostname].interfaces.lo.ipv4 }}
    clagd-vxlan-anycast-ip {{ switches[ansible_hostname].interfaces.lo.vxlan_anycast_ip }}

# The primary network interface
auto eth0
iface eth0 inet dhcp

{% for item in switches[ansible_hostname].interfaces.fabriclinks %}
auto {{ item }}
iface {{ item }}

{% endfor %}

{% for item in switches[ansible_hostname].VRF %}
auto {{ item }}
iface {{ item }}
    vrf-table auto
{% endfor %}

auto bridge
iface bridge
    bridge-ports vni10010 vni10100 vni104001 peerlink server
    bridge-vids 10 100 4001
    bridge-vlan-aware yes

auto peerlink
iface peerlink
    bond-slaves swp49 swp50

auto peerlink.4094
iface peerlink.4094
    address {{ switches[ansible_hostname].clag.clag_address }}
    clagd-peer-ip {{ switches[ansible_hostname].clag.clag_peer_address }}
    clagd-priority {{ switches[ansible_hostname].clag.clag_priority }}
    clagd-sys-mac {{ switches[ansible_hostname].clag.clag_sys_mac }}

auto {{ switches[ansible_hostname].server.server_bond }}
iface {{ switches[ansible_hostname].server.server_bond }}
    bond-slaves {{ switches[ansible_hostname].server.server_interface }}
    bridge-access {{ switches[ansible_hostname].server.server_vlan }}
    clag-id {{ switches[ansible_hostname].server.server_clag_id }}

{% for item1, item2, item3, item4 in switches[ansible_hostname].interfaces.vlan_id|zip(switches[ansible_hostname].interfaces.svi_ip)|zip(switches[ansible_hostname].interfaces.svi_vip)|zip(switches[ansible_hostname].interfaces.svi_vmac) %}
auto vlan{{ item1 }}
iface vlan{{ item1 }}
    address item2
    address-virtual {{ item4 }} {{ item3 }}
    vlan-id item1
    vlan-raw-device bridge
    vrf TENANT-A


{% for item1, item2 in switches[ansible_hostname].interfaces.vlan_id|zip(switches[ansible_hostname].interfaces.vxlan_id) %}
auto vni{{ item2 }}
iface vni{{ item2 }}
    bridge-access {{ item1 }}
    bridge-arp-nd-suppress on
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    vxlan-id {{ item2 }}
    vxlan-local-tunnelip switches[ansible_hostname].interfaces.lo.ipv4


auto vni104001
iface vni104001
    bridge-access 4001
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    vxlan-id 104001
    vxlan-local-tunnelip 10.0.0.12


    
